

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "navbar";
@import "slider.scss";
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	padding: 0px;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr;
	background-color: black;
}
/*Estructura General de la Página*/
.principal{
	display: grid;
	grid-template-columns: 1fr;
	background-color: black;
}

.secundario {
	display: grid;
	grid-template-columns: 1fr;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	position: absolute;
}
.main{

	background-color: black;
	margin-bottom: 0.8em;
}


.footer{

	background-color: black;
}

.header{

	background-color: black;
}

/*Estructura header*/
.header{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.logo{

	display: flex;
	justify-content: center;
	align-items: center;
	

}

.logo a {
	color: white;
	font-size: 3.5em;
	padding: 1em;
	font-family: Source Sans Pro;
}





  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 2em;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }


/*Estructura de los articulos*/
.imgart img{
	height: auto;
	width: 100%;
	
}

.articulos{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 3em;
	grid-column-gap: 3vw;
	margin-right: 7vw;
	margin-left: 7vw;
}


.art {
	
	display: flex;
	flex-flow: column nowrap;	
	background-color: grey; 
	justify-content: space-between;
}



.txtart{
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 18px;
	word-spacing: 2px;
	letter-spacing: 1px;
	overflow: hidden;
	margin-bottom: 0.7em;
	margin-left: 0.6em;
}

.leermas{
	margin-left: 0.6em;
	margin-bottom: 0.5em; 
}
.leermas a {
	text-decoration: none;
	color: white;
	font-family: Source Sans Pro;
	font-size: 1.6em;
	transition: color 0.4s linear;
	transition: 0.3s linear;
}

.leermas span:nth-child(1){
	font-family: Source Sans Pro;
}
.leermas span:nth-child(2){
	font-family: cursive;
	position: relative;
	top: 1px;
	margin-left: 0.1em;
	transition: margin-left 0.35s ease-in-out;
}

.art{
	transition: 0.5s linear;
}

.art:hover span:nth-child(2){
	margin-left: 0.3em;
}

.art:hover{
	background-color: lightgrey;

}




/*Estructura footer*/
.footer{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	background-color: black;
	padding: 20px 0;
	grid-row-gap: 1.5em;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
	align-items: center;
}

.derechos{

	color: white;
	justify-content: center;
	text-align: center;
}

.redes{
	list-style: none;
	text-align: center;
}

#iconos	{
	font-size: 35px;
	color: white;
	padding: 3px;

}

.footer a{
	color: white;
}

.footer{
	border-width: 0.5px; 
	border-top: solid;
	border-color: white;
}

/*Efectos hipervinculos footer*/
.items-footer li a{
	transition: 0.5s ease-in-out;
}

#iconos:hover{
	color:cyan;
}


.items-footer .redes img{
	width: 1.7em;
	height: 1.7em;
}

.items-footer .redes .instagram{
	width: 1.85em;
	height: 1.85em;
}



@mixin rearbordes($colorBorde, $size, $shadow){
	border: $size solid $colorBorde;
	border-radius: $size;
	box-shadow: 0px 0px $size $shadow;
}

.imgart{
	@include crearBorde (red,10px, black)
}





/*img GIF*/
.productos{
	width: 100%;
.contenedor-gif{

	// width: inherit;

    // position: relative;
    // display: inline-block;
    // text-align: center;
    // background-image: url(/recursos/heria-planche.gif);
    //background-size: contain; 
	img {
		width: 100%;
	}
    }
.texto-encima{
    position: absolute;
	font-size: 30em;
    top: 100px;
    left: 10px;
    color: cadetblue;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: cadetblue;
}




}